<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>app组件{{changeMsg}}</p>
  <!--添加hello-world子组件至app父组件-->
  <app-hello-world></app-hello-world>
  <!--initialCount = 5为父组件定义(define)的初始值 -->
  <!--count = 0 为parent-child子组件定义的值-->
  <!--第一种@Input定义<app-parent-child [count]="initialCount"></app-parent-child>-->
  <app-parent-child [count]="initialCount"
                    (change)="countChange($event)">
  </app-parent-child>
</div>




































<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

